{% extends "base.html" %}

{% block title %}
  Element Sorter - Monitor
{% endblock %}

{% block sidebar %}
  <div class="five wide stretched column">
    <div class="ui inverted segment" style="margin-left: 2rem">
      <div class="ui segment">
        <h3 class="ui center aligned header">
          Logger
        </h3>
      </div>
      <div id="logging_segment" class="ui segment" style="height: 760px; overflow-y: scroll"></div>
    </div>
  </div>
{% endblock %}

{% block body %}
  <div class="ten wide stretched column">
    <div class="ui top attached tabular menu">
      <div class="item" data-tab="first">Camera #1</div>
      <div class="item active" data-tab="second">Camera #2</div>
    </div>
    <div class="ui bottom attached tab segment" data-tab="first">
      <center class="ui top attached inverted segment" style="height: 650px">
      <img src="http://{{ settings.rpi_id_addr1 }}:5001/stream.mjpg" width="1100" height="620"
           alt="Please start camera server(s)">
    </center>
    </div>
    <div class="ui bottom attached tab segment active" data-tab="second">
      <center class="ui top attached inverted segment" style="height: 650px">
      <img src="http://{{ settings.rpi_id_addr2 }}:5001/stream.mjpg" width="1100" height="620"
           alt="Please start camera server(s)">
    </center>
    </div>
    <div class="ui bottom attached inverted segment">
      <form class="ui inverted form">
        <div class="field">
          <label for="profile_dropdown">Profile</label>
          <select id="profile_dropdown" class="ui fluid dropdown">
            <option value="">Select a Profile</option>
            {% for profile in profiles %}
              <option value="{{ profile.id }}">{{ profile.name }}</option>
            {% endfor %}
          </select>
        </div>
        <div class="ui two buttons">
          <button class="ui three wide fluid green button" type="button"
                  onclick="$('.warning').css('pointer-events', 'auto').click()">Run
          </button>
          <button class="ui three wide fluid red button" type="button">Stop</button>
        </div>
      </form>
    </div>
  </div>
  </div>
{% endblock %}

{% block additional_js %}
  <script>
      // Activate the sorting tab on the menu bar
      $(document).ready(function () {
          $("#monitor_item").addClass("active")
      });

      // Set Semantic UI elements
      $(".menu .item").tab();
      $('.ui.dropdown').dropdown();

      // When clicking the Green submit button, tell raspberry pi controller to start detection routine.
      $('.fluid.green.button').on('click', function() {
          // Send the initial command to the Raspberry Pi to start the detection loop
          let selection_dropdown = $(".ui.dropdown").dropdown('get value');
          if (selection_dropdown !== "") {
              $.ajax({
                  type: "GET",
                  url: "http://{{ settings.rpi_id_addr1 }}:5000/detection_sorting",
                  data: {"profile": selection_dropdown},
                  success: (function (data){
                      console.log("Starting detection process...")
                  }),
                  error: (function (error){
                      console.log(error);
                  })
              })
          }
      });

      // When clicking the Red button, tell raspberry pi controller to stop detection routine.
      $('.fluid.red.button').on('click', function () {
          // Send command to the Raspberry Pi to stop the detection loop after next cycle
          $.ajax({
              type: "GET",
              url: "http://{{settings.rpi_id_addr1}}:5000/stop_detection",
              success: (function (data) {
                  console.log("Stopping detection process...");
              }),
              error: (function (error) {
                  console.log(error);
              })
          });
      });

      // Open websocket
      let socket = new WebSocket(
          `ws://${window.location.host}/ws/base/`
      );

      // Print that the websocket was opened successfully
      socket.onopen = function(event) {
          console.log("Websocket opened")
      };

      // Add detection message to the logger.
      socket.onmessage = function(event) {
          // If a position is passed assume it is a message for the sorting page.
          if (JSON.parse(event.data)['position'] !== undefined)
          {
              let message_string = `<b>${Date().split(' ')[4]}</b>: Sorting part #${JSON.parse(event.data)['label']} to position #${JSON.parse(event.data)['position']}<br>`;
              console.log(message_string);
              $("#logging_segment").append(message_string);
          }
      };
  </script>
{% endblock %}