{% extends "base.html" %}

{% block title %}
  Element Sorter - Monitor
{% endblock %}

{% block sidebar %}
  <div class="five wide stretched column">
    <div class="ui inverted segment" style="margin-left: 2rem">
      <div class="ui segment">
        <h3 class="ui header">
          Logger
          <button class="ui inline right teal button" style="margin-left: 60%">Reset Logger</button>
        </h3>
      </div>
      <div class="ui segment" style="height: 760px"></div>
    </div>
  </div>
{% endblock %}

{% block body %}
  <div class="ten wide stretched column">
    <center class="ui top attached inverted segment">
      <img src="http://{{ settings.rpi_id_addr }}:5001/stream.mjpg" width="1150" height="620"
           alt="Please start camera server(s)">
    </center>
    <div class="ui bottom attached inverted segment">
      <div class="ui warning message">To start sorting, select a block and click run.</div>
      <form class="ui inverted form">
        <div class="field">
          <label for="profile_dropdown">Profile</label>
          <select id="profile_dropdown" class="ui fluid dropdown">
            <option value="">Select a Profile</option>
            {% for profile in profiles %}
              <option value="{{ profile.id }}">{{ profile.name }}</option>
            {% endfor %}
          </select>
        </div>
        <div class="ui two buttons">
          <button class="ui three wide fluid green button" type="button"
                  onclick="$('.warning').css('pointer-events', 'auto').click()">Run
          </button>
          <button class="ui three wide fluid red button" type="button">Stop</button>
        </div>
      </form>
    </div>
  </div>
  </div>
{% endblock %}

{% block additional_js %}
  <script>
      $(document).ready(function () {
          $("#monitor_item").addClass("active")
      });
      $('.ui.embed').embed({autoplay: true});
      $('.ui.dropdown').dropdown();
      $('.fluid.green.button').on('click', function() {
          console.log("Clicked");
          // Send the initial command to the Raspberry Pi to start the detection loop
          let selection_dropdown = $(".ui.dropdown").dropdown('get value');
          console.log(`Val: ${selection_dropdown}`);
          if (selection_dropdown !== "") {
              $.ajax({
                  type: "GET",
                  url: "http://{{ settings.rpi_id_addr }}:5000/detection_sorting",
                  data: {"profile": selection_dropdown},
                  success: (function (data){
                      console.log(data)
                  }),
                  error: (function (error){
                      console.log(error);
                  })
              })
          }
      });
      $('.fluid.red.button').on('click', function () {
          // Send command to the Raspberry Pi to stop the detection loop after next cycle
          $.ajax({
              type: "GET",
              url: "http://{{settings.rpi_id_addr}}:5000/stop_detection",
              success: (function (data) {
                  console.log(data);
                  //$.active_run = false;
              }),
              error: (function (error) {
                  console.log(error);
              })
          });
      });
  </script>
{% endblock %}