{% extends "base.html" %}

{% block title %}
  Element Sorter - Training
{% endblock %}

{% block additional_css %}
  <link rel="stylesheet" href="https://cdn.datatables.net/1.10.19/css/jquery.dataTables.min.css">
{% endblock %}

{% block sidebar %}
  <div class="four wide column" style="margin-left: 2rem">
    <div class="ui menu">
      <div class="ui menu item">
        {% if training_flag %}
        <a style="font-size: large" href="{% url 'training_form' %}">Train New Network <i class="plus icon"></i></a>
        {% else %}
        <a style="font-size: large; color:#aca8a5;">Please Capture More Blocks Before Training</a>
        {% endif %}
      </div>
    </div>
  </div>
{% endblock %}

{% block body %}
  <div class="ten wide stretched column">
    {% if networks %}
      <div class="ui segment">
      <table id="network_table" class="display" style="width:100%;" role="grid">
        <thead>
          <tr role="row">
            <th></th>
            <th class="sorting_asc">Training Status</th>
            <th>Network Name</th>
            <th>Description</th>
            <th>Number of Unique Blocks</th>
          </tr>
        </thead>
        <tbody>
        {% for network in networks %}
          <tr role="row">
              <form method="post" action={{ action }}>
                {% csrf_token %}
                <td><button class="ui tiny red button" name="network_id" value="{{ network.id }}">Delete</button></td>
              </form>
            {% if network.training_status %}
              <td style="text-align: center">
                <i class="ui green large check icon" data-tooltip=""></i>
              </td>
              {% else %}
              <td style="text-align: center" data-tooltip="Still training network. Please refresh after network has been trained.">
                <i class="ui green large loading sync icon"></i>
              </td>
            {% endif %}
            <td class="sorting_1" style="text-align: center">{{ network.name }}</td>
            <td style="text-align: center">{{ network.description }}</td>
            <td style="text-align: center">{{ network.block_count }}</td>
          </tr>
        {% endfor %}
        </tbody>
      </table>
      </div>
    {% else %}
      <div class="ui warning message">No networks are currently trained. To create a new network, use the link in the left sidebar.</div>
    {% endif %}
  </div>
{% endblock %}

{% block additional_js %}
  <script src="https://cdn.datatables.net/1.10.19/js/jquery.dataTables.min.js"></script>
  <script>
    $(document).ready(function() {
        $("#training_item").addClass("active")
    });
    $(".display").DataTable();
  </script>
{% endblock %}