certifi==2019.9.11
chardet==3.0.4
Click==7.0
Flask==1.1.1
Flask-Cors==3.0.8
future==0.17.1
idna==2.8
iso8601==0.1.12
itsdangerous==1.1.0
Jinja2==2.11.3
MarkupSafe==1.1.1
numpy==1.17.2
picamera==1.13
pkg-resources==0.0.0
pyserial==3.4
PyYAML==5.4
requests==2.22.0
six==1.12.0
urllib3==1.25.6
Werkzeug==0.16.0
