{% extends 'base.html' %}

{% block title %}
  Element Sorter - Profile
{% endblock %}

{% block full_content %}
  <div class="ui three wide column"></div>
  <div class="ui ten wide column">
    <div class="ui horizontal divider">Create/Edit Profile Form</div>
    <form class="ui form" method="post" action="{{ action }}">
      <div class="ui field">
        <label for="id_name">Name</label>
        <input type="text" id="id_name" name="name" maxlength="128" required="">
      </div>
      <div class="ui field">
        <label for="id_tags">Tags</label>
        <select id="id_tags" multiple="" required="">
          {% for tag in tags %}
            <option value="{{ tag.name }}">{{ tag.name }}</option>
          {% endfor %}
        </select>
      </div>
      <div class="ui field">
        <label for="id_blocks">Blocks</label>
        <select id="id_blocks" multiple="" required="">
          {% for block in blocks %}
            <option value="{{ block.part_number }}">{{ block.part_number }}: {{ block.color }} -- {{ block.description }}</option>
          {% endfor %}
        </select>
      </div>
    </form>
  </div>
{% endblock %}