{% extends "base.html" %}

{% block title %}
  Element Sorter - Capture
{% endblock %}

{% block sidebar %}
  <div class="five wide stretched column">
    <div class="ui inverted segment" style="margin-left: 2rem">
      <div class="ui segment">
        <h3 class="ui header">
          Logger
        </h3>
      </div>
      <div class="ui segment" style="height: 770px; overflow-y: scroll">
      </div>
    </div>
  </div>
{% endblock %}

{% block body %}
  <div class="ten wide stretched column">
    <center class="ui top attached inverted segment" style="height: 400px">
      <iframe src="http://{{ settings.rpi_id_addr }}:5001" style="width: 700px; height: 510px"></iframe>
    </center>
    <div class="ui bottom attached inverted segment">
      <div class="ui warning message">To start training, select a block and click run.</div>
      <form class="ui inverted form">
        <div class="field">
          <label for="block_dropdown">Block</label>
          <select id="block_dropdown" class="ui fluid dropdown">
            <option value="">Select an option</option>
            {% for block in blocks %}
              <option value="{{ block.part_number }}">#{{ block.part_number }} [{{ block.color_wording }}]
                -- {{ block.description }}</option>
            {% endfor %}
          </select>
        </div>
        <div class="ui two buttons">
          <button class="ui three wide fluid green button" type="button">Run</button>
          <button class="ui three wide fluid red button" type="button">Stop</button>
        </div>
      </form>
    </div>
  </div>
{% endblock %}

{% block additional_js %}
  <script>
      $(document).ready(function () {
          $("#capture_item").addClass("active")
      });
      $(".ui.embed").embed();
      let active_run = false;

      function image_poll() {
          $.ajax({
              type: "GET",
              url: `${document.location.origin}/image_poll`,
              success: function (data) {
                  console.log(data);
              }
          });
      }

      function logging_poll() {
          $.ajax({
              type: "GET",
              url: `${document.location.origin}/logging_poll`,
              success: function (data) {
                  console.log(data)
                  // TODO: Update the logging segment
              }
          })
      }

      $('.fluid.green.button').on('click', function () {
          // Send the initial command to the Raspberry Pi to start the detection loop
          let selection_dropdown = $(".ui.fluid.dropdown").val();
          if (selection_dropdown !== "") {
              $.ajax({
                  type: "GET",
                  url: "http://192.168.0.11:5000/detection_training", //TODO: Use template insertion from settings for IP address
                  data: {"label":selection_dropdown},
                  success: (function (data) {
                      console.log(data)
                  }),
                  error: (function (error) {
                      console.log(error);
                  })
              })
          }

          //  $.active_run = true;
          // while (active_run) {
          //    setTimeout(image_poll(), 1);
          //    setTimeout(logging_poll(), 1);
          //}
      });

      $('.fluid.red.button').on('click', function () {
          // Send command to the Raspberry Pi to stop the detection loop after next cycle
          $.ajax({
              type: "GET",
              url: "http://192.168.0.11:5000/stop_detection", //TODO: Use template insertion from settings for IP address
              success: (function (data) {
                  console.log(data);
              }),
              error: (function (error) {
                  console.log(error);
              })
          });
          // TODO: Make the stop button have a loading icon and indicate that the stop is beginning
      });
  </script>
{% endblock %}