{% extends "base.html" %}

{% block title %}
  Element Sorter - Capture
{% endblock %}

{% block sidebar %}
  <div class="five wide stretched column">
    <div class="ui inverted segment" style="margin-left: 2rem">
      <div class="ui segment">
        <h3 class="ui center aligned header">
          Logger
        </h3>
      </div>
      <div id="logging_segment" class="ui segment" style="height: 770px; overflow-y: scroll"></div>
    </div>
  </div>
{% endblock %}

{% block body %}
  <div class="ten wide stretched column">
    <div class="ui top attached tabular menu">
      <div class="item" data-tab="first">Camera #1</div>
      <div class="item active" data-tab="second">Camera #2</div>
    </div>
    <div class="ui bottom attached tab segment" data-tab="first">
      <center class="ui top attached inverted segment" style="height: 650px">
      <img src="http://{{ settings.rpi_id_addr1 }}:5001/stream.mjpg" width="1100" height="620"
           alt="Please start camera server(s)">
    </center>
    </div>
    <div class="ui bottom attached tab segment active" data-tab="second">
      <center class="ui top attached inverted segment" style="height: 650px">
      <img src="http://{{ settings.rpi_id_addr2 }}:5001/stream.mjpg" width="1100" height="620"
           alt="Please start camera server(s)">
    </center>
    </div>
    <div class="ui bottom attached inverted segment">
      <form class="ui inverted form">
        <div class="field">
          <label for="block_dropdown">Block</label>
          <select id="block_dropdown" class="ui fluid dropdown">
            <option value="">Select an Block</option>
            {% for block in blocks %}
              <option value="{{ block.part_number }}">#{{ block.part_number }} [{{ block.color_wording }}]
                -- {{ block.description }}</option>
            {% endfor %}
          </select>
        </div>
        <div class="ui two buttons">
          <button class="ui three wide fluid green button" type="button">Run</button>
          <button class="ui three wide fluid red button" type="button">Stop</button>
        </div>
      </form>
    </div>
  </div>
{% endblock %}

{% block additional_js %}
  <script>
      $(document).ready(function () {
          $("#capture_item").addClass("active")
      });
      $(".ui.embed").embed();
      $(".ui.dropdown").dropdown();
      let active_run = false;

      function image_poll() {
          $.ajax({
              type: "GET",
              url: `${document.location.origin}/image_poll`,
              success: function (data) {
                  console.log(data);
              }
          });
      }

      let socket = new WebSocket(
          `ws://${window.location.host}/ws/base/`
      );

      socket.onopen = function(event) {
          console.log("Websocket opened")
      };

      socket.onmessage = function(event) {
          // If a position is not passed assume it is a message for the capture page.
          if (JSON.parse(event.data)['position'] === undefined){
              let message_string = `<b>${Date().split(' ')[4]}</b>: Took new image for part #${event.data}<br>`;
              console.log(message_string);
              $("#logging_segment").append(message_string);
          }
      };

      function logging(event){
          // Get the data from the JSON post
          let data = `${Date().split(' ')[4]}: ${event.data}<br>`;
          $("#logging_segment").append(data);
      }

      $('.fluid.green.button').on('click', function () {
          // Send the initial command to the Raspberry Pi to start the detection loop
          let selection_dropdown = $(".ui.fluid.dropdown").dropdown('get value');
          if (selection_dropdown !== "") {
              $.ajax({
                  type: "GET",
                  url: "http://{{settings.rpi_id_addr1}}:5000/detection_training",
                  data: {"label":selection_dropdown},
                  success: (function (data) {
                      console.log(data)
                  }),
                  error: (function (error) {
                      console.log(error);
                  })
              })
          }
      });

      $('.fluid.red.button').on('click', function () {
          // Send command to the Raspberry Pi to stop the detection loop after next cycle
          $.ajax({
              type: "GET",
              url: "http://{{settings.rpi_id_addr1}}:5000/stop_detection",
              success: (function (data) {
                  console.log(data);
                  //$.active_run = false;
              }),
              error: (function (error) {
                  console.log(error);
              })
          });
      });

      $(".menu .item").tab();
  </script>
{% endblock %}