{% extends 'base.html' %}

{% block title %}
    Element Sorter - Catalog
{% endblock %}

{% block sidebar %}
  <div class="five wide stretched column">
    <div class="ui segment" style="margin-left: 2rem">
    TODO: Under construction
    </div>
  </div>
{% endblock %}

{% block body %}
  <div class="ui ten wide segment column">
    <div class="ui horizontal divider">Catalog</div>
    TODO: Under construction
  </div>
{% endblock %}

{% block additional_js %}
  <script>
    $(document).ready(function () {
        $("#catalog_item").addClass("active")
    });
  </script>
{% endblock %}