{% extends 'base.html' %}

{% block title %}
  Element Sorter - Settings
{% endblock %}

{% block full_content %}
    <div class="ui three wide column"></div>
    <div class="ui ten wide column">
    <div class="ui horizontal divider" style="font-size: large">Settings Form</div>
      <form class="ui form" method="post" action="{{ action }}">
        <div class="ui field">
          <label for="rpi_addr">Raspberry Pi IP Address</label>
          <input id="rpi_addr" name="rpi_id_addr" required type="text" placeholder="http://192.168.0.12">
        </div>
        <div class="ui warning message">The tolerance is the percentage match that a captured image is recognised by the neural network. Increasing the percentage will result in fewer bad sorts; however, will result in multiple parts not being sorted.</div>
        <div class="ui field">
          <label for="id_tolerance">Tolerance Percentage</label>
          <select id="id_tolerance" required>
            <option value="">Select a Tolerance</option>
            <option value=".7">70%</option>
            <option value=".75">75%</option>
            <option value=".8">80%</option>
            <option value=".85">85%</option>
            <option value=".9">90%</option>
            <option value=".95">95%</option>
          </select>
        </div>
        <div class="ui green button">Submit <i class="angle double right icon"></i></div>
      </form>
    </div>
{% endblock %}

{% block additional_js %}
  <script>
    $(document).ready(function() {
        $("#setting_item").addClass("active")
    })
  </script>
{% endblock %}